<section class="shopping-cart center-block" ng-controller="ShoppingCart">
    <header>
        <h6>Jouw Bestelling</h6>
    </header>

    <article class="phone">
        <header class="">
            <h5 ng-bind="phone.name"></h5>
        </header>
        <ul>
            <li class="inline-block">Adviesprijs <span class="pull-left" ng-bind="phone.msrp | currency:'&euro;'"></span></li>
            <li>Direct Voldoen <span class="pull-right"><strong ng-bind="phone.price | currency:'&euro;'"></strong></span></li>
            <li>Aansluitkosten <span class="pull-right" ng-bind="phone.connection | currency:'&euro;'"></span></li>
        </ul>
    </article>

    <article class="contract">
        <header>
            <hgroup>
                <h5 ng-bind="contract.name"></h5>
                <h6 class="contract-summary" ng-bind="contract.summary"></h6>
            </hgroup>
        </header>
        <ul>
            <li ng-bind="contract.data | data"></li>
            <li ng-bind="contract.minutes | minutes"></li>
            <li>
                <ul class="pull-right">
                    <li class="cross-out inline" ng-bind="contract.price | currency:'&euro;'"></li>
                    <li class="bold inline" ng-bind="contract.discountPrice | currency:'&euro;'"></li>
                </ul>
            </li>
        </ul>
    </article>

    <article class="total">
        <ul>
            <li>Totaal <span>(/mnd)</span> <span class="pull-right" ng-bind="total.month | currency:'&euro;'"></span></li>
            <li>Verzekering <span>(/mnd)</span> <span class="pull-right" ng-bind="insurance.basic | currency:'&euro;'"></span></li>
        </ul>
    </article>

    <footer class="text-center">
        <button type="button" class="btn btn-primary btn-lg btn-block">Naar bestellen <i class="fa fa-angle-right"></i></button>
    </footer>

</section>